<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Universitas Andalas</title>
    <!-- plugins:css -->
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/vendors/feather/feather.css" />
    <link rel="stylesheet" href="/vendors/ti-icons/css/themify-icons.css" />
    <link rel="stylesheet" href="/vendors/css/vendor.bundle.base.css" />
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="/vendors/datatables.net-bs4/dataTables.bootstrap4.css" />
    <link rel="stylesheet" href="/vendors/ti-icons/css/themify-icons.css" />
    <link rel="stylesheet" type="text/css" href="/js/select.dataTables.min.css" />
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/views/admin/style.css" />
    <!-- endinject -->
    <link rel="shortcut icon" href="images/favicon.png" />
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
          <a class="navbar-brand brand-logo mr-1" href="<%= link %>"><img src="logo-unand.png" class="mr-2" alt="logo" /></a>
          <a class="navbar-brand brand-logo-mini mr-1" href="<%= link %>"><img src="logo-mini.png" alt="logo" /></a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="icon-menu"></span>
          </button>
          <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item dropdown"></li>
            <li class="nav-item nav-profile dropdown">
              <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                <img src="default.png" alt="profile" />
              </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                <a class="dropdown-item">
                  <i class="ti-power-off text-primary"></i>
                  Logout
                </a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <div class="user-profile">
            <div class="user-image">
              <img src="default.png">
            </div>
            <div class="user-designation">
                Login
            </div>
            <div class="user-name">
              <span>DOSEN</span>
            </div>
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="<%= link %>">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Dashboard</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="pengelolaan-rps.html">
                <i class="icon-paper menu-icon"></i>
                <span class="menu-title">Pengelolaan RPS</span>
              </a>
            </li>
          </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row"> 
              <div class="col-md-12">
                <div class="row">
                  <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                    <h3 class="font-weight-bold">RPS - Kelola Dosen</h3>
                    <h6 class="font-weight-normal mb-0">List Dosen Mata Kuliah</h6>
                  </div>
                  <div class="col" style="position: relative; margin-bottom: 2%"> 
                    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                      <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Kelola Dosen</li>
                      </ol>
                    </nav>
                  </div>
                </div>
                <div id="layoutSidenav_content">
                 <main>
                     </ol>
                       
                        <div class="d-grid gap-2 d-md-flex">

                       </div>    
                       <form action="http://localhost:5500/kelolaDosenAdmin">     
                        <div class="form-group" style="margin-bottom:1%; margin-top: 1%; width: 40%;" >
                          <select style="padding:5px 10px; width:100%;" class="chosen-select" name="" required> 
                          <option value="">Silahkan pilih dosen</option>;
                          <%
                          if(rows.length!=0){
                          var i=1;
                          rows.forEach(function(data){
                          %> 

                          <option value="B001"><%=data.name; %></option>;
                          <%  i++; }) %>
                          <% } else{ %>
                              <tr>
                                  <td colspan="7">No Data Found</td>
                              </tr>
                          <% } %>
                          </select>
                          <input type="submit" style="margin-left:102%; "  id="dropdownMenuButton1">
                        </input> 
                       </form>  
                      </div>
 
                        
                      </div>        
                      
                      
                     <!-- TAMBAHKAN KONTEN DISINI -->
         
                     <div class="card mb-4">
                       <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>Nama Dosen Pengampu</th>
                                            <th>Aksi</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Name</th>
                                            <th>Position</th>
                                            <th>Office</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>

                                        <%
                                        if(rows.length!=0){
                                        var i=1;
                                        rows.forEach(function(data){
                                        %>
                                        <tr>
                                            <td><%=data.name; %></td>
                                          <td>
                                          <div class="btn-group btn-group-sm" role="group" aria-label="Basic mixed styles example">
                                            <div class="dropdown">

                                              <div class="btn-group btn-group-sm" role="group" aria-label="Basic mixed styles example">
                                                <a button type="button" class="btn btn-primary" href="ubahrps.html" role="button">Hapus</a>                                                                    
                                            </div>                                                                                    
                                          </div>
                                          </td>
                                      </tr>
                                      <%  i++; }) %>
                                      <% } else{ %>
                                          <tr>
                                              <td colspan="7">No Data Found</td>
                                          </tr>
                                      <% } %>


                                    </tbody>
                                </table>
                       </div>
                     </div>
                   </div>
                 </main>
                 <footer class="py-4 bg-light mt-auto">
                   <div class="container-fluid px-4">
                     <div class="d-flex align-items-center justify-content-between small">
              
                     </div>
                   </div>
                 </footer>
               </div>
             </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->

    <!-- plugins:js -->
    <script src="/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="/vendors/chart.js/Chart.min.js"></script>
    <script src="/vendors/datatables.net/jquery.dataTables.js"></script>
    <script src="/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
    <script src="/js/dataTables.select.min.js"></script>

    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/js/off-canvas.js"></script>
    <script src="/js/hoverable-collapse.js"></script>
    <script src="/js/template.js"></script>
    <script src="/js/settings.js"></script>
    <script src="/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="/js/dashboard.js"></script>
    <script src="/js/Chart.roundedBarCharts.js"></script>
    <!-- End custom js for this page-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="/js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="/js/datatables-simple-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
  </body>
</html>
